*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 85vh;
    background-image: linear-gradient(to right, #5c99ce, #e0ddb8);
    padding: 10px; 
}


#head{
    justify-content: center;
    padding-right: 30px;
    font-family: Garamond, sans-serif;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    padding-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

#input-box{
    font-size: 16px;
}

button{
    border: none;
    outline: none;
    padding: 6px 15px;
    background: rgb(12, 181, 167);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 39px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    padding-top: 3px;
    background-color: #1f1f1f;
    color: #fff;

}

.linkbtn {
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

i {
    margin-right: 3px;
    margin-left: 3px;
}

.infotext {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 8px;
    padding-top: 6px;
}

.linkbtn {
    padding: 5px 5px;
}

.footer{
    padding-top: 10px;
    text-align: center;
}
